:root{
    --light-blue: #F3F5FC;
    --primary-color: #355058;
    box-sizing: border-box;
    --alturacontendor: 84vh;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: var(--light-blue);
    background-image: url(https://images.unsplash.com/photo-1622547748225-3fc4abd2cca0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.menu{
    width: 100%;
    height: 7vh;
    align-content: center;
    flex-direction: row;
}
.menu img{
    width: 1.3rem;
}
.menu ul, p{
    height: 7vh;
    display: flex;;
    align-items: center;
    justify-content: center;
    font-family: Helvetica;
    font-weight: bold;
    color: var(--primary-color);
}
.menu ul a{
    margin-right: 2vw;
    color: var(--primary-color);
}
.container{
    font-family: Arial, Helvetica, sans-serif;
    height: var(--alturacontendor);
    padding: 0 2vw;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
        align-content: center;
}
.encriptar{
    height: 95%;
    width: 55%;
    margin-right: 0.5vw;
}
.encriptar, input{
    background-color: transparent;
    padding: 0.6vw;
}
/* editar el texto de entrada, Input */
textarea{
    resize: none;
    width: 100%;
    overflow: hidden;
    background-color: transparent;
}
.entrada{
    width: 100%;
    min-height: 70vh;
}
.encriptar ::-webkit-input-placeholder, :focus, :enabled{
    outline: 0;
    -webkit-appearance: none;
    appearance: none;
    border: transparent;
    color: var(--primary-color);
    font-size: larger;
    text-align: start;
}
.encriptar ::-moz-placeholder, :focus, :enabled{
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    border: transparent;
    color: var(--primary-color);
    font-size: larger;
    text-align: start;
}
.encriptar :-ms-input-placeholder, :focus, :enabled{
    outline: 0;
    -webkit-appearance: none;
    appearance: none;
    border: transparent;
    color: var(--primary-color);
    font-size: larger;
    text-align: start;
}
.encriptar ::placeholder, :focus, :enabled{
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    border: transparent;
    color: var(--primary-color);
    font-size: larger;
    text-align: start;
}
input, ::-webkit-input-placeholder{
    height: 50vh;
    width: 90%;
}
input, ::-moz-placeholder{
    height: 50vh;
    width: 90%;
}
input, :-ms-input-placeholder{
    height: 50vh;
    width: 90%;
}
input, ::placeholder{
    height: 50vh;
    width: 85%;
}
/**********+ icono ***********/
.buttons img{
    margin-right: 0.5vw;
}
.buttons p{
    color: var(--primary-color);
}
/***************botones******************/
.paraEncriptar{
    border: none;
    background-color: var(--primary-color);
    color: white;
    padding: 1% 8%;
    cursor: pointer;
    margin-right:0.5vw;
    border-radius: 5px;
    width: 45%;
    text-align: center;
    transition: 0.5s;
}
.paraEncriptar:hover{
    transform: scale(0.96);
}
.botonSimple{
    border: solid 1px var(--primary-color);
    color: var(--primary-color);
    padding: 1% 8%;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 45%;
    background-color: transparent;
    margin-right:0.5vw;
}
.botonSimple:hover{
    transform: scale(0.96);
}
.columna{
    width: 100%;
}
.centrado{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
/*********************** mostrar *********/
.mostrar{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    text-align: center;
    min-height: 70vh;
    border-radius: 10px;
    padding: 1rem;
    width: 35%;
    border: solid 1px var(--primary-color);
    color: var(--primary-color);
}
#mostrar{
    text-align: center;
}
.mostrar img{
    max-width: 80%;
}

#ocultar{
    margin-bottom: 1vw;
}
#volver{
    display: none;
}
/* aviso */
@keyframes desvanecer{
    0%   {opacity: 100%;}
    70% {opacity: 70%;}
    99% {opacity: 0%; top:20%;}
    100%{visibility: hidden;}
}
.aviso{
    width: 60%;
    display: inline-block;
    position: absolute;
    top: 5%;
    font-size: larger;
    animation-name: desvanecer;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
/* responsive design */
@media screen and (max-width: 750px){
    body{
        width: 100vw;
    }
    .container{
        display: inline-block;
        height: var(--alturacontendor);
        width: 100%;
        padding: 0;
    }
    section, #seccionEntrada{
        width: 90%;
        height: 95%;
        padding-top: 2vh;
    }
    .encriptar{
        padding: 0 3vw;
        margin: 0;
    }
    .entrada{
        min-height: 80%;
    }
    .paraEncriptar{
        width: 100%;
        margin-bottom: 1vw;
    }
    .botonSimple{
        width: 100%;
        margin-bottom: 1vw;
    }

    /*mostrar*/
    #seccionMostrar{
        display: none;
        width: 88%;
        margin: 3vw auto 0 auto;
        height: 90%;
    }
    .mostrar img{
        max-width: 60%;
    }
    #volver{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .mostrar img{
        margin-bottom: 2vw;
    }
    .menu{
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .columna{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .paraEncriptar{
        margin-bottom: 2vw;
    }
    .botonSimple{
        margin-bottom: 2vw;
    }
}

.oculto{
    display: none;
}